#feedback {
    position: relative;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    max-width: 480px;
    min-height: 100vh;
    margin: auto;
    top: 20px;
}

.card-title {
    font-family: 'Poppins', sans-serif;
    font-size: larger;
    font-weight: bolder;
    color: white;
}

#hitung {
    font-size: medium !important;
}

.site-form {
    padding: 20px;
}

.body__container {
    min-height: 100vh;
    height: fit-content;
}