{% extends 'APP1/base.html' %}
{% load static  %}
{% block head %}   
    <!-- Font Awesome Icon Library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="{% static 'feedback.css' %}">

{% endblock head %}

{% block body %}
  <div id ="feedback">
    
		<div class = "card z-depth-3">
			<div class ="card-panel center pink lighten-2">
				<span class = "card-title">Your Feedback
        <p id = "lain">There are {{total}} kind feedbacks already and they are really helpfull.</p>
        <p id = "lain">Submit yours now!</p></span>
			</div>
      {% if not warn %}
            <form class = "site-form" action="/feedback/add/" method="post">
              {% csrf_token %}
                <div class ="input-field">
                    <label ></label>{{formulir.body}}
                </div>
                <br>
                <div class ="center">
                  <input type="submit" value = "Submit" id = "tombol-submit" class = "btn-large pink lighten-2" href ="">
                </div>
            </form>
            <br>
           
              <div class = "Rate" id = "rate" style = "text-align: center;">
                 <form class = "rate-form" action="" method="post">
                {% csrf_token %}
                  <p id = "tulisan-rate">Rate how much this website helped you</p>
                  <button type = "submit" class="fa fa-star fa-3x my-btn" id = "satu"></button>
                  <button type = "submit" class="fa fa-star fa-3x my-btn" id = "dua"></button>
                  <button type = "submit" class="fa fa-star fa-3x my-btn" id = "tiga"></button>
                  <button type = "submit" class="fa fa-star fa-3x my-btn" id = "empat"></button>
                  <button type = "submit" class="fa fa-star fa-3x my-btn" id = "lima"></button>
                </form> 
        
              </div>
              <br>
              {% endif %}
             
          </div>
      

       

        {% if apakah %}
        <div class="divider"></div>
            <div class="card-content" style="padding: 16px;">
              <div style="text-align: center; color: #DA4167; font-weight: 300pt; font-size: 12pt;background-color: #FFCECB; padding: 16px;">
                Thank You for your feedback !
              </div>
            </div>
        {% endif %}

        {% if warn %}
        <div class="divider"></div>
            <div class="card-content" style="padding: 16px;">
              <div style="text-align: center; color: #DA4167; font-weight: 300pt; font-size: 12pt;background-color: #FFCECB; padding: 16px;">
                You must be logged in before posting a feedback
              </div>
            </div>
        {% endif %}

	</div>  

{% endblock body %}

{% block script %}
<script>
    console.log("hello world");

    // all the stars
    const satu = document.getElementById("satu")
    const dua = document.getElementById("dua")
    const tiga = document.getElementById("tiga")
    const empat = document.getElementById("empat")
    const lima = document.getElementById("lima")

    const form = document.querySelector('.rate-form')
    const center = document.getElementById('rate')
    const csrf = document.getElementsByName('csrfmiddlewaretoken')

    const arr =  [satu, dua, tiga, empat, lima]

    const handlestar = (size) =>{
      const children = form.children
      console.log(size)

      for (let i=0; i < children.length; i++){
        if (i <= size+1){
          children[i].classList.add('checked')
          console.log("check")
        }
        else{
          children[i].classList.remove('checked')
          console.log("kosong")
        }
      }
    }
    const handleSelect = (selection) => {
 
      switch(selection){
          case "satu": {
            handlestar(1)
            return
          }
          case "dua": {
            handlestar(2)
            return
          }
          case "tiga": {
            handlestar(3)
            return
          }
          case "empat": {
            handlestar(4)
            return
          }
          case "lima": {
            handlestar(5)
            return
          }
            
      }
    }
    const get_nomor = (stringValue) =>{
      let result;
      if (stringValue === 'satu'){
        result = 1
      }
      else if (stringValue === 'dua'){
        result = 2
      }
      else if (stringValue === 'tiga'){
        result = 3
      }
      else if (stringValue === 'empat'){
        result = 4
      }
      else if (stringValue === 'lima'){
        result = 5
      }
      else {
        result = 0
      }
      return result
    }
   
    
    arr.forEach(item=> item.addEventListener('mouseover', (event)=>{
        handleSelect(event.target.id)
        console.log(event.target.id)

    }))

    arr.forEach(item=> item.addEventListener('click', (event)=>{
        const nilai = event.target.id
        
        let isSubmit = false
        form.addEventListener('submit', e =>{
          e.preventDefault()
          if (isSubmit) {
                return
            }
          isSubmit = true


          const rate = get_nomor(nilai)
          $.ajax({
            type : 'POST',
            url : '/rate/',
            data: {
              'csrfmiddlewaretoken': csrf[1].value,
              'val': rate,
            },
            success: function(response){
              console.log(response)
              center.innerHTML = `<p>Thank you for your rating</p>`
            },
            error: function(error){
              console.log(error)
              
            }
          })
        })
    }))
    
</script>
{% endblock script %}
