{% extends 'APP1/base.html' %}
{% load static  %}
{% block head %}
    <link rel="stylesheet" href="{% static 'userProfile.css' %}">
{% endblock head %}

{% block body %}
    <div id ="signup">
		<div class = "card z-depth-3">
			<div class ="card-panel center pink lighten-2">
				<span class = "card-title">Login</span>
			</div>
            <form class = "site-form" action="/userProfile/login/" method="post" >
                {% csrf_token %}
                <div class ="input-field">
                    <i class ="material-icons prefix">face</i>
                    <label for="username">Username</label>
                    <input id="username" type="text" name="username">
                </div>
                <div class ="input-field">
                    <i class ="material-icons prefix">lock</i>
                    <label for="password">Password</label>
                    <input id="password" type="password" name="password">
                </div>

                
                {% for message in messages %}
                    <p style="color: red;">{{message}}</p>
                {% endfor %}
                    

                <div class ="center">
                    <input type="submit" value = "Log In" class = "btn-large pink lighten-2">
                </div>
            </form>
        </div>
	</div>

{% endblock body %}

{% block script %}
{% endblock script %}