{% extends 'APP1/base.html' %}
{% load static %}
{% block head %}
	<link rel="stylesheet" href="{% static 'userProfile.css' %}">
	
{% endblock %}
{% block body %}

<div class="container">
<div class="row">
	<div class="col l3 s12">
		<div style="text-align: center; padding: 10px;" class="card card-body">
			<a class="btn waves-effect waves-light" href="{% url 'APP1:index' %}"
			style="
			background: white;
			color: #da4167;
			border-radius: 5px;
			margin-bottom: 10px;
			border: #da4167 1.6px solid;
			"
			> 
				&#8592; Back to 🏠
			</a>
			<li class="divider" tabindex="-1"></li>
			<p class="flow-text">Profile Settings</p>
			
			<img class="profile-pic" src="{{request.user.account.image}}">
			
			
		</div>
	</div>
	<div class="col l9 s12">
		<div style="padding: 10px;" class="card card-body">
			<form class="profileset" method="POST" action="" enctype="multipart/form-data">
				{% csrf_token %}
				{{form.as_p}}
				{% for message in messages %}
					<div class="z-depth-1" 
					style="padding: 6px;
					font-size: .8rem;
					margin-bottom: 10px;
					color: #15c06d; 
					height: fit-content; 
					border-radius: 5px; 
					width: fit-content;
					background: white">
						{{message}}
					</div>
				{% endfor %}
				<button class="btn waves-effect waves-light" type="submit" name="action"
				style="background: #832161; border-radius: 5px;"
				>
					Submit
					<i class="material-icons right">send</i>
				</button>
			</form>
		</div>
	</div>
</div>
</div>
{% endblock %}