{% extends 'APP1/base.html' %}
{% load static  %}
{% block head %}
	<link rel="stylesheet" href="{% static 'userProfile.css' %}">
{% endblock head %}

{% block body %}
	<div id ="signup">
		<div class = "card z-depth-3">
			<div class ="card-panel center pink lighten-2">
				<span class = "card-title">Sign Up</span>
			</div>
			<form class="site-form" action="/userProfile/signup/" method="post">	
				{% csrf_token %}
				
				{% for field in form %}
					{{field.label}}
					{{field}}
				{% endfor %}
				{{ account_form }}

				{{form.errors}}
				<div class ="center">
					<input type="submit" value = "Sign Up" class = "btn-large pink lighten-2">
				</div>
			</form>
		</div>
	</div>	
{% endblock body %}

{% block script %}
<script>
	var err_messsage = document.getElementsByClassName('errorlist')
	
	for (var key in err_messsage) {
		err_messsage[key].className += ' browser-default'
	}
</script>
{% endblock script %}