{% extends 'APP1/base.html' %} {% load static %} {% block head %}
<link rel="stylesheet" href={% static 'forums/forums.css' %}> {% endblock head %} {% block body %}
<div class="forums">
    <div class="container">
        <div class="title">
            Forums
        </div>
        <div class="row">
            <div class="col s12">
                <div class="card horizontal">
                    <div class="card-stacked">
                        <div class="card-content" style="display: flex; flex-direction: row; align-items: center;">
                            <a style="margin-right: 1rem;" href="{% url 'forums:forums_add_forum' %}">
                                <div class="kenta-img-button" id="add_forum"></div>
                            </a>
                            <span style="color: #15c06d; font-weight: 300pt; font-size: 12pt;">Add a new forum discussion</span>
                        </div>
                        {% if warn %}
                        <div class="divider"></div>
                        <div class="card-content" style="padding: 16px;">
                            <div style="color: #DA4167; font-weight: 300pt; font-size: 12pt;background-color: #FFCECB; padding: 16px;">
                                You must be logged in before creating a new forum
                            </div>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% for forum in forums %}
            <div class="col s12">
                <div class="card horizontal">
                    <div class="card-stacked">
                        <div class="card-content">
                            <span class="truncate card-title">{{forum.caption}}</span>
                            <p class="truncate">{{forum.body}}</p>
                        </div>
                        <div class="card-content extras " style="padding: 0 24px; ">
                            <div style="opacity: 80%; ">
                                <span>Created at {{forum.timestamp | date:"F d Y "}}</span>
                            </div>
                            <div class="kenta-img-p-combo ">
                                <img style="border-radius: 50%; width: 30px; height: 30px; object-fit: cover;" src="{{ forum.author.image }}"> 
                                {{forum.author.name|truncatechars:8}}, {{ forum.author.job }}
                            </div>
                            <div class="kenta-img-p-combo ">
                                <img src="{% static 'forums/icon/comments.svg' %} "> {{forum.comments.count}}
                            </div>
                        </div>
                        <div class="card-action ">
                            <a href="{% url 'forums:forums_detail_forum' forum.id %} ">Join forum</a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock body %} {% block script %} {% endblock script %}