{% extends 'APP1/base.html' %}
{% load static %}


{% block head %}
<link rel="stylesheet" href={% static 'news/news.css' %}>
{% endblock head %}


{% block body %}
<div class="news">
  <div class="container">
    <div class="row">

      {% if articles|length == 0 %}
        Hasil Pencarian tidak ditemukan
      {% else %}
      <div class="title__news">
        News
      </div>
      {% for artikel in articles %}

      <div class="col s12">
        <div class="card horizontal">
          <div class="card-image waves-effect waves-light">
            <a href={% url 'news:news_detail' artikel.pk artikel.title|lower|slugify %}>
              <img src={{artikel.image_url}} onerror="this.src='/static/news/news_default.svg'">
            </a>
          </div>
          <div class="card-stacked">
            <div class="card-content">
              <span class="card__badges">{{ artikel.name|default:"NaN" }}</span>
              <a href={% url 'news:news_detail' artikel.pk artikel.title|lower|slugify %}
                class="card-title">{{ artikel.title|truncatechars:80 }}</a>
              <p class="hide-on-med-and-down" style="margin-bottom: 15px;">{{ artikel.description|truncatechars:120 }}
              </p>
              <span class="timestamp">{{ artikel.timestamp|date:"l, j F Y" }}</span>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
      {% endif %}

    </div>
  </div>


</div>


{% block pagination %}
  
  {% if articles|length != 0 %}

  <ul style="bottom: 0;
        position: absolute;
        transform: translate(-50%, 214%);
        left: 50%;
        text-align: center;" class="pagination">

  {% if articles.has_previous %}
  <li class="waves-effect"><a href="?page={{articles.previous_page_number}}"><i
    class="material-icons">chevron_left</i></a></li>
    {% else %}
    <li class="disabled"><a><i class="material-icons">chevron_left</i></a></li>
    {% endif %}
    
    <li class="waves-effect">Page {{page|default:'1'}} of {{paginator.num_pages}}</li>
    
    {% if articles.has_next %}
    <li class="waves-effect"><a href="?page={{articles.next_page_number}}"><i class="material-icons">chevron_right</i></a>
    </li>
    {% else %}
    <li class="disabled"><a><i class="material-icons">chevron_right</i></a></li>
    {% endif %}
    
  </ul>
  {% endif %}

{% endblock pagination %}

{% endblock body %}


{% block script %}

{% endblock script %}
