{% extends 'APP1/base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href={% static 'APP1/landing.css' %}>
{% endblock head %}


{% block body %}
<div class="landing__app ">
  <div class="content__wrapper">
    <h4>
      Get in touch<br>
      with everything you<br>
      need to know!
    </h4>

    

    <div class="status__cov">
      <h5 style="
      font-size: 1.2rem; 
      font-weight: 500; 
      display: flex; 
      align-items: center; 
      margin: 10px auto; 
      width: fit-content;">
        <img style="display: inline; width: 30px; height: 20px; margin-right: 5px;" src="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.4.3/flags/4x3/id.svg" alt="">
        Indonesia
      </h5>
      <p>Recovered +<span id="incRecovery"></span></p>
      <div class="stat" id="recover">
        <img src={% static 'APP1/icon/recovery-white.svg' %} alt="">
        <p id="recovered"></p>
        
      </div>
      <p>Confirmed +<span id="incPositive"></span></p>
      <div class="stat" id="positif">
        <img src={% static 'APP1/icon/positive-white.svg' %} alt="">
        <p id="positive"></p>
        
      </div>
      <p>Deaths +<span id="incDeath"></span></p>
      <div class="stat" id="death">
        <img src={% static 'APP1/icon/dead-white.svg' %} alt="">
        <p id="deaths"></p>
        
      </div>
      
      <p>Last Updated:</p>
      <p id="last_updated"></p>
    </div>
  </div>
  <img class="corona__group" src={% static 'APP1/img/corona-group.png' %} alt="">
  <img class="corona__solo" src={% static 'APP1/img/corona-solo.png'%} alt="">
</div>

<div class="recent__post">
  <img class="corona__img" src={% static 'APP1/img/corona-post.png' %} alt="">
  <h4 class="recent__post__title">Recent News</h4>
  <div class="row">
    
    
    {% for news in list_news %}
      <div class="col s12 m6 l4">
      <div class="card medium hoverable">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src={{ news.image_url }}>
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">{{ news.title|truncatechars:30 }}<i class="material-icons right">more_vert</i></span>
          <p><a href={% url 'news:news_detail' news.pk news.title|lower|slugify %}>Read more →</a></p>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">{{ news.title }}<i class="material-icons right">close</i></span>
          <p>{{ news.content|default:news.description }}</p>
        </div>
      </div>
    </div>
    {% endfor %}
      
  </div>
</div>
{% endblock body %}


{% block script %}
<script type="text/javascript">
  function formatNumber(num) {
    return num.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,')
  }

  fetch('https://disease.sh/v3/covid-19/countries/IDN?strict=true')
    .then(response => response.json())
    .then(data => {
      let date = new Date(data.updated);
      let days = date.toLocaleString("id-ID", {weekday: "long"})
      let day = date.toLocaleString("id-ID", {day: "numeric"})
      let month = date.toLocaleString("id-ID", {month: "long"})
      let year = date.toLocaleString("id-ID", {year: "numeric"})
      $('#last_updated').html(`${days}, ${day} ${month} ${year}`)
      $('#deaths').html(formatNumber(data.deaths))
      $('#incDeath').html(formatNumber(data.todayDeaths))
      $('#positive').html(formatNumber(data.cases))
      $('#incPositive').html(formatNumber(data.todayCases))
      $('#recovered').html(formatNumber(data.recovered))
      $('#incRecovery').html(formatNumber(data.todayRecovered))
    })
</script>

{% endblock script %}