::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    opacity: 0.8;
    /* Firefox */
}

 :-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    opacity: 0.8;
}

 ::-ms-input-placeholder {
    /* Microsoft Edge */
    opacity: 0.8;
}

#id_caption {
    padding: 4px;
    font-family: inherit;
    min-height: 3rem;
    box-sizing: inherit;
}

#id_body {
    margin-bottom: 4px;
}