.forum-detail {
    margin: 0 24px;
    min-height: 100vh;
    height: fit-content;
}

.materialize-textarea{
    padding: 5px 0 !important;
    line-height: 3rem !important;
    margin: 0 !important;
    height: 30px !important;
    font-size: 14px !important;
}