#feedback {
    position: relative;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    max-width: 480px;
    min-height: 100vh;
    margin: auto;
    top: 20px;
}

.card-title {
    font-family: 'Poppins', sans-serif;
    font-size: larger;
    font-weight: bolder;
    color: white;
}

.site-form {
    padding: 20px;
}

.body__container {
    min-height: 100vh;
    height: fit-content;
}

#lain {
    font-size: medium !important;
}

#rate {
    text-align: center;
}

#tulisan-rate {
    text-align: center;
    font-size: medium;
    color: black;
}

.checked {
    color: orange;
}

.my-btn {
    background-color: inherit !important;
    border: 0 !important;
}

.input-field {
    text-align: center;
}
